.banner {
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: -1;
  }


.transXnavbar {
  justify-content: space-between;
  background: white;
  width: 70%;
  margin: 0 auto;
  padding: 0 30px 30px 60px;
}

.transXnav-item {
  font-size: 10px;
  .a {color: #32342F;}

}

.transXimage {
  height: 60px;
  width: 130px;
}

.btn-transX {
  color: white;
  padding: 8px 24px;
  background: rgb(41, 137, 105);
  border-radius: 1px;
  font-size: 10px;
}

.react-container {
  justify-content: center;
  margin: 0 auto;

}
