.banner {
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: -1;
  background-color: rgba(41, 137, 105, 0.5);
  background-blend-mode: multiply;
  filter: hue-rotate(100)
  }


.transXnavbar {
  justify-content: space-between;
  background: white;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0px 10px 30px;
}


.transXnav-item {
  font-size: 12px;
    a {
      color: #32342F;
      padding-bottom: 10px;
      }
    a:hover {
  color: rgb(41, 137, 105);
  border-bottom: 2px solid rgb(41, 137, 105);
}
}

.transXimage {
  height: 60px;
  width: 130px;
}

.btn-transX {
  color: white;
  padding: 28px 44px;
  background: rgb(41, 137, 105);
  border-radius: 1px;
  font-size: 12px;
}

.react-form  {
  justify-content: center;
  margin: 0 auto;
  width:50%;
  height: 270px;
  background-color: white;
  padding: 30px 30px 30px 0;
    h1 {
      font-size: 20px;
      padding-left: 30px;
      color: gray;
    }
    h6 {
      color: gray;
      font-size: 10px;
      padding-left: 30px;
    }
    input[type=text] {
    color: gray;
    padding: 10px 10px 10px 10px;
    font-size: 10px;
    width: 200px;
    }
    .testing {
    margin-left: 30px;
    }
    input[type=submit] {
    color: white;
    font-size: 10px;
    background-color: #122B80;
    padding: 20px 10px 20px 10px;
    width: 290px;
    border: none;
    }
}

.middle-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 200px 30px 100px 250px;

  .worldwide {
    color: white;
    width: 500px;
    padding: 70px 0 0 0;
  }
  .worldwide h1 {
    font-size: 54px;
    font-weight: bold;
  }
  .worldwide p {
    font-size: 12px;
    }
}

.btn-transX-middle {
  color: white;
  padding: 16px 32px;
  background: rgb(41, 137, 105);
  border-radius: 1px 1px 15px 1px;
  font-size: 14px;
}

.content {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0 0 0;
}

.blue-box {
  background-color: #222a9c;
  clip-path: polygon(85% 0, 100% 16%, 100% 100%, 0 100%, 0 0);
  float: right;
  padding: 60px 30px 60px 30px;
  margin: 0 150px 0 0;
  width: 300px;
    h1 {
      color: rgb(41, 137, 105);
      display: inline;
      font-weight: bold;
    }
    p {
    color: white;
    font-size: 10px;
    }
}
.bigtext {
  font-size: 60px;
}

.right-content {
  width: 500px;
    h2 {
      font-size: 20px;
    }
}

.gray-header {
  color: gray;
}

.footer {
  height: 500px;
  background-color: white;
}








